* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: 'Alegreya Sans';
}

header {
  padding-bottom: 20%;
  padding-top: 20%;

  background: #2B4A6F;
}

header h1 {
  text-align: center;
  font-size: 60pt;
  color: #F1F1F1;
}

body {
  background-color: #4B688B;
}

.contenedor {
  padding: 1rem;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
}

.post {
  font-size: 20pt;
  text-align: justify;
  color: #F1F1F1;

  margin: 20px auto;
  min-width: 250;
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding: 3rem;
  background-color: #2B4A6F;
  color: #fff;
}

footer section {
  float: right;

}

footer p {
  display: inline;
}

footer a {
  margin: 0px 5px;

  transition: color .2s ease;
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #d3d3d3;
}